.Rhistory
cfgsh.py
creditrisk_loanapproved.csv
creditrisk_loandeclined.csv
crypto.py
Data Science Statistical Analysis.ipynb
data_scientist_project_sql_code.sql
data_scientist_project_sqlitequeries.sqbpro
data_scientist_project.db
Engagement Project.xlsx
Insurance Analysis.ipynb
Insurance Statistics Insights Project.pbix
Insurance Statistics Project Report.docx
insurance.db
insurance.csv
Loan Approval Project Report.docx
Loan Approval Statistics and Analysis.ipynb
Loan.db
Loan.csv
loans_accountingdata.csv
Logarithm .ipynb
NatLog.xlsx
newsfeed_analysis.twbx
project-files-customer-engagement-analysis-in-excel.zip
project-files-newsfeed-analysis-in-tableau.zip
project-files-user-engagement-with-sql-excel-and-python.zip
Projects.Rproj
Report.docx
Shell.ipynb
sqlite3 cursor methods FETCHONE FETCHALL.txt
Web Browser.ipynb
world graphics.R
World Overview (version 1).xlsb.xlsx
World Overview.csv
World Overview.xlsx
World Stats.ipynb